In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [ ]:
df  = pd.read_csv('/content/north_america_bear_killings.csv')
# Display the column names of the dataframe again
print(df.columns)
df.head(10)

Index(['Name', ' age', 'gender', 'Date', 'Month', 'Year', 'Type', 'Location',
       'Description', 'Type of bear', 'Hunter', 'Grizzly', 'Hikers',
       'Only one killed'],
      dtype='object')

,Name,age,gender,Date,Month,Year,Type,Location,Description,Type of bear,Hunter,Grizzly,Hikers,Only one killed
0,Erin Johnson,27,female,2017-06-19,6,2017,Wild,"Pogo mine, Alaska","Johnson, a contract employee for Pogo Mine, wa...",Black bear,0,0,0,1
1,Patrick Cooper,16,male,2017-06-18,6,2017,Wild,"Indian, Alaska",Cooper was chased and mauled by a bear while r...,Black bear,0,0,0,1
2,Daniel Ward O'Connor,27,male,2015-05-10,5,2015,Wild,"near Mackenzie, British Columbia",Ward was killed by a bear while he slept near ...,Black bear,0,0,0,1
3,Darsh Patel,22,male,2014-09-21,9,2014,Wild,"near West Milford, New Jersey",Patel was about to begin hiking with four frie...,Black bear,0,0,1,1
4,Lorna Weafer,36,female,2014-05-07,5,2014,Wild,"near Fort McMurray, Alberta","Weafer, a Suncor worker was attacked at the re...",Black bear,0,0,0,1
5,Robert Weaver,64,male,2013-06-06,6,2013,Wild,"near Delta Junction, Alaska",Weaver was attacked by a black bear while walk...,Black bear,0,0,0,1
6,Lana Hollingsworth,61,female,2011-07-25,7,2011,Wild,"Pinetop-Lakeside, Arizona",Hollingsworth was attacked by a 250 lb (113.4 ...,Black bear,0,0,0,1
7,Bernice Adolph,72,female,2011-06-01,6,2011,Wild,"near Lillooet, British Columbia",Adolph's remains were found by police dogs aft...,Black bear,0,0,0,1
8,Brent Kandra,24,male,2010-08-19,8,2010,Captive,"Columbia Station, Ohio",Kandra was a bear caretaker on property of Sam...,Black bear,0,0,0,1
9,Valérie Théorêt,37,female,2018-11-26,11,2018,Wild,"Einarson Lake, Yukon",The mother and child were attacked near their ...,Brown bear,0,0,0,0

In [ ]:
df['Location'] = df['Location'].str.split(',').str[1]
print(df)

                     Name  age  gender        Date  Month  Year     Type  \
0            Erin Johnson   27  female  2017-06-19      6  2017     Wild
1          Patrick Cooper   16    male  2017-06-18      6  2017     Wild
2    Daniel Ward O'Connor   27    male  2015-05-10      5  2015     Wild
3             Darsh Patel   22    male  2014-09-21      9  2014     Wild
4            Lorna Weafer   36  female  2014-05-07      5  2014     Wild
..                    ...  ...     ...         ...    ...   ...      ...
161            Baby Laird    1     NaN  1908-10-05     10  1908  Captive
162            John Dicht   18    male  1906-11-24     11  1906     Wild
163      Mary Porterfield    3  female  1901-05-19      5  1901     Wild
164     Wilie Porterfield    5    male  1901-05-19      5  1901     Wild
165     Henry Porterfield    7    male  1901-05-19      5  1901     Wild

              Location                                        Description  \
0               Alaska  Johnson, a contract employee for Pogo Mine, wa...
1               Alaska  Cooper was chased and mauled by a bear while r...
2     British Columbia  Ward was killed by a bear while he slept near ...
3           New Jersey  Patel was about to begin hiking with four frie...
4              Alberta  Weafer, a Suncor worker was attacked at the re...
..                 ...                                                ...
161            Arizona  After a bear escaped from a cage at Elysian Gr...
162       Pennsylvania  Thinking the bear was dead, Dicht began skinni...
163      West Virginia  The children were gathering flowers near their...
164      West Virginia  The children were gathering flowers near their...
165      West Virginia  The children were gathering flowers near their...

    Type of bear  Hunter  Grizzly  Hikers  Only one killed
0     Black bear       0        0       0                1
1     Black bear       0        0       0                1
2     Black bear       0        0       0                1
3     Black bear       0        0       1                1
4     Black bear       0        0       0                1
..           ...     ...      ...     ...              ...
161   Black bear       0        0       0                1
162   Black bear       0        0       0                1
163   Black bear       0        0       0                0
164   Black bear       0        0       0                0
165   Black bear       0        0       0                0

[166 rows x 14 columns]

In [ ]:
df

,Name,age,gender,Date,Month,Year,Type,Location,Description,Type of bear,Hunter,Grizzly,Hikers,Only one killed
0,Erin Johnson,27,female,2017-06-19,6,2017,Wild,Alaska,"Johnson, a contract employee for Pogo Mine, wa...",Black bear,0,0,0,1
1,Patrick Cooper,16,male,2017-06-18,6,2017,Wild,Alaska,Cooper was chased and mauled by a bear while r...,Black bear,0,0,0,1
2,Daniel Ward O'Connor,27,male,2015-05-10,5,2015,Wild,British Columbia,Ward was killed by a bear while he slept near ...,Black bear,0,0,0,1
3,Darsh Patel,22,male,2014-09-21,9,2014,Wild,New Jersey,Patel was about to begin hiking with four frie...,Black bear,0,0,1,1
4,Lorna Weafer,36,female,2014-05-07,5,2014,Wild,Alberta,"Weafer, a Suncor worker was attacked at the re...",Black bear,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Baby Laird,1,NaN,1908-10-05,10,1908,Captive,Arizona,After a bear escaped from a cage at Elysian Gr...,Black bear,0,0,0,1
162,John Dicht,18,male,1906-11-24,11,1906,Wild,Pennsylvania,"Thinking the bear was dead, Dicht began skinni...",Black bear,0,0,0,1
163,Mary Porterfield,3,female,1901-05-19,5,1901,Wild,West Virginia,The children were gathering flowers near their...,Black bear,0,0,0,0
164,Wilie Porterfield,5,male,1901-05-19,5,1901,Wild,West Virginia,The children were gathering flowers near their...,Black bear,0,0,0,0
165,Henry Porterfield,7,male,1901-05-19,5,1901,Wild,West Virginia,The children were gathering flowers near their...,Black bear,0,0,0,0

In [ ]:
df = df.drop(['Name', 'Description'], axis=1)
print(df)

     age  gender        Date  Month  Year     Type           Location  \
0     27  female  2017-06-19      6  2017     Wild             Alaska
1     16    male  2017-06-18      6  2017     Wild             Alaska
2     27    male  2015-05-10      5  2015     Wild   British Columbia
3     22    male  2014-09-21      9  2014     Wild         New Jersey
4     36  female  2014-05-07      5  2014     Wild            Alberta
..   ...     ...         ...    ...   ...      ...                ...
161    1     NaN  1908-10-05     10  1908  Captive            Arizona
162   18    male  1906-11-24     11  1906     Wild       Pennsylvania
163    3  female  1901-05-19      5  1901     Wild      West Virginia
164    5    male  1901-05-19      5  1901     Wild      West Virginia
165    7    male  1901-05-19      5  1901     Wild      West Virginia

    Type of bear  Hunter  Grizzly  Hikers  Only one killed
0     Black bear       0        0       0                1
1     Black bear       0        0       0                1
2     Black bear       0        0       0                1
3     Black bear       0        0       1                1
4     Black bear       0        0       0                1
..           ...     ...      ...     ...              ...
161   Black bear       0        0       0                1
162   Black bear       0        0       0                1
163   Black bear       0        0       0                0
164   Black bear       0        0       0                0
165   Black bear       0        0       0                0

[166 rows x 12 columns]

In [ ]:
df

,age,gender,Date,Month,Year,Type,Location,Type of bear,Hunter,Grizzly,Hikers,Only one killed
0,27,female,19,6,2017,Wild,"Pogo mine, Alaska",Black bear,0,0,0,1
1,16,male,18,6,2017,Wild,"Indian, Alaska",Black bear,0,0,0,1
2,27,male,10,5,2015,Wild,"near Mackenzie, British Columbia",Black bear,0,0,0,1
3,22,male,21,9,2014,Wild,"near West Milford, New Jersey",Black bear,0,0,1,1
4,36,female,7,5,2014,Wild,"near Fort McMurray, Alberta",Black bear,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
161,1,NaN,5,10,1908,Captive,"Tucson, Arizona",Black bear,0,0,0,1
162,18,male,24,11,1906,Wild,"Elk County, Pennsylvania",Black bear,0,0,0,1
163,3,female,19,5,1901,Wild,"Job, West Virginia",Black bear,0,0,0,0
164,5,male,19,5,1901,Wild,"Job, West Virginia",Black bear,0,0,0,0
165,7,male,19,5,1901,Wild,"Job, West Virginia",Black bear,0,0,0,0

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

# ใช้ .dt.day เพื่อเข้าถึงแค่ข้อมูลวันที่
df['Date'] = df['Date'].dt.day

# แสดง DataFrame หลังจากการแปลง
print(df)

     age  gender  Date  Month  Year     Type           Location Type of bear  \
0     27  female    19      6  2017     Wild             Alaska   Black bear
1     16    male    18      6  2017     Wild             Alaska   Black bear
2     27    male    10      5  2015     Wild   British Columbia   Black bear
3     22    male    21      9  2014     Wild         New Jersey   Black bear
4     36  female     7      5  2014     Wild            Alberta   Black bear
..   ...     ...   ...    ...   ...      ...                ...          ...
161    1     NaN     5     10  1908  Captive            Arizona   Black bear
162   18    male    24     11  1906     Wild       Pennsylvania   Black bear
163    3  female    19      5  1901     Wild      West Virginia   Black bear
164    5    male    19      5  1901     Wild      West Virginia   Black bear
165    7    male    19      5  1901     Wild      West Virginia   Black bear

     Hunter  Grizzly  Hikers  Only one killed
0         0        0       0                1
1         0        0       0                1
2         0        0       0                1
3         0        0       1                1
4         0        0       0                1
..      ...      ...     ...              ...
161       0        0       0                1
162       0        0       0                1
163       0        0       0                0
164       0        0       0                0
165       0        0       0                0

[166 rows x 12 columns]

In [ ]:
df

,age,gender,Date,Month,Year,Type,Location,Type of bear,Hunter,Grizzly,Hikers,Only one killed
0,27,female,19,6,2017,Wild,"Pogo mine, Alaska",Black bear,0,0,0,1
1,16,male,18,6,2017,Wild,"Indian, Alaska",Black bear,0,0,0,1
2,27,male,10,5,2015,Wild,"near Mackenzie, British Columbia",Black bear,0,0,0,1
3,22,male,21,9,2014,Wild,"near West Milford, New Jersey",Black bear,0,0,1,1
4,36,female,7,5,2014,Wild,"near Fort McMurray, Alberta",Black bear,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
161,1,NaN,5,10,1908,Captive,"Tucson, Arizona",Black bear,0,0,0,1
162,18,male,24,11,1906,Wild,"Elk County, Pennsylvania",Black bear,0,0,0,1
163,3,female,19,5,1901,Wild,"Job, West Virginia",Black bear,0,0,0,0
164,5,male,19,5,1901,Wild,"Job, West Virginia",Black bear,0,0,0,0
165,7,male,19,5,1901,Wild,"Job, West Virginia",Black bear,0,0,0,0

In [ ]:
df.isnull()

,age,gender,Date,Month,Year,Type,Location,Type of bear,Hunter,Grizzly,Hikers,Only one killed
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
161,False,True,False,False,False,False,False,False,False,False,False,False
162,False,False,False,False,False,False,False,False,False,False,False,False
163,False,False,False,False,False,False,False,False,False,False,False,False
164,False,False,False,False,False,False,False,False,False,False,False,False
165,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
null_values_by_column = df.isnull().sum()

# แสดงจำนวนค่า null ในแต่ละคอลัมน์
print(null_values_by_column)

 age               0
gender             1
Date               0
Month              0
Year               0
Type               0
Location           2
Type of bear       0
Hunter             0
Grizzly            0
Hikers             0
Only one killed    0
dtype: int64

In [ ]:
mean_values = df.mean()

# แทนค่า null ด้วยค่าเฉลี่ยในแต่ละคอลัมน์
df.fillna(mean_values, inplace=True)

# แสดง DataFrame หลังจากการแทนค่า
print(df)

     age  gender  Date  Month  Year     Type           Location Type of bear  \
0     27  female    19      6  2017     Wild             Alaska   Black bear
1     16    male    18      6  2017     Wild             Alaska   Black bear
2     27    male    10      5  2015     Wild   British Columbia   Black bear
3     22    male    21      9  2014     Wild         New Jersey   Black bear
4     36  female     7      5  2014     Wild            Alberta   Black bear
..   ...     ...   ...    ...   ...      ...                ...          ...
161    1     NaN     5     10  1908  Captive            Arizona   Black bear
162   18    male    24     11  1906     Wild       Pennsylvania   Black bear
163    3  female    19      5  1901     Wild      West Virginia   Black bear
164    5    male    19      5  1901     Wild      West Virginia   Black bear
165    7    male    19      5  1901     Wild      West Virginia   Black bear

     Hunter  Grizzly  Hikers  Only one killed
0         0        0       0                1
1         0        0       0                1
2         0        0       0                1
3         0        0       1                1
4         0        0       0                1
..      ...      ...     ...              ...
161       0        0       0                1
162       0        0       0                1
163       0        0       0                0
164       0        0       0                0
165       0        0       0                0

[166 rows x 12 columns]

<ipython-input-33-aac7364360a7>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_values = df.mean()

In [ ]:
df

,age,gender,Date,Month,Year,Type,Location,Type of bear,Hunter,Grizzly,Hikers,Only one killed
0,27,female,19,6,2017,Wild,Alaska,Black bear,0,0,0,1
1,16,male,18,6,2017,Wild,Alaska,Black bear,0,0,0,1
2,27,male,10,5,2015,Wild,British Columbia,Black bear,0,0,0,1
3,22,male,21,9,2014,Wild,New Jersey,Black bear,0,0,1,1
4,36,female,7,5,2014,Wild,Alberta,Black bear,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
161,1,NaN,5,10,1908,Captive,Arizona,Black bear,0,0,0,1
162,18,male,24,11,1906,Wild,Pennsylvania,Black bear,0,0,0,1
163,3,female,19,5,1901,Wild,West Virginia,Black bear,0,0,0,0
164,5,male,19,5,1901,Wild,West Virginia,Black bear,0,0,0,0
165,7,male,19,5,1901,Wild,West Virginia,Black bear,0,0,0,0

In [ ]:
gender_count = df['gender'].value_counts()

# แสดงผลลัพธ์
print(gender_count)

male       121
female      42
female       1
male         1
Name: gender, dtype: int64

In [ ]:
gender_series = pd.Series(df['gender'])

# นับจำนวนค่าที่ไม่ซ้ำกันใน Series
gender_counts = gender_series.value_counts()

# หาค่าที่มีจำนวนมากที่สุด
most_frequent_gender = gender_counts.idxmax()

# แทนค่า null ด้วยค่าที่มีจำนวนมากที่สุด
gender_series.fillna(most_frequent_gender, inplace=True)

# แสดง Series หลังจากการแทนค่า
print(gender_series)

0      female
1        male
2        male
3        male
4      female
        ...
161      male
162      male
163    female
164      male
165      male
Name: gender, Length: 166, dtype: object

In [ ]:
Location_series = pd.Series(df['Location'])

# นับจำนวนค่าที่ไม่ซ้ำกันใน Series
Location_counts = Location_series.value_counts()

# หาค่าที่มีจำนวนมากที่สุด
most_frequent_Location = Location_counts.idxmax()

# แทนค่า null ด้วยค่าที่มีจำนวนมากที่สุด
Location_series.fillna(most_frequent_Location, inplace=True)

# แสดง Series หลังจากการแทนค่า
print(Location_series)

0                 Alaska
1                 Alaska
2       British Columbia
3             New Jersey
4                Alberta
             ...
161              Arizona
162         Pennsylvania
163        West Virginia
164        West Virginia
165        West Virginia
Name: Location, Length: 166, dtype: object

In [ ]:
null_values_by_column = df.isnull().sum()

# แสดงจำนวนค่า null ในแต่ละคอลัมน์
print(null_values_by_column)

 age               0
gender             0
Date               0
Month              0
Year               0
Type               0
Location           0
Type of bear       0
Hunter             0
Grizzly            0
Hikers             0
Only one killed    0
dtype: int64

In [ ]:
df['gender'] = df['gender'].str.strip()

# แสดง DataFrame หลังจากการลบเว้นวรรค
print(df)

     age  gender  Date  Month  Year     Type           Location Type of bear  \
0     27  female    19      6  2017     Wild             Alaska   Black bear
1     16    male    18      6  2017     Wild             Alaska   Black bear
2     27    male    10      5  2015     Wild   British Columbia   Black bear
3     22    male    21      9  2014     Wild         New Jersey   Black bear
4     36  female     7      5  2014     Wild            Alberta   Black bear
..   ...     ...   ...    ...   ...      ...                ...          ...
161    1    male     5     10  1908  Captive            Arizona   Black bear
162   18    male    24     11  1906     Wild       Pennsylvania   Black bear
163    3  female    19      5  1901     Wild      West Virginia   Black bear
164    5    male    19      5  1901     Wild      West Virginia   Black bear
165    7    male    19      5  1901     Wild      West Virginia   Black bear

     Hunter  Grizzly  Hikers  Only one killed
0         0        0       0                1
1         0        0       0                1
2         0        0       0                1
3         0        0       1                1
4         0        0       0                1
..      ...      ...     ...              ...
161       0        0       0                1
162       0        0       0                1
163       0        0       0                0
164       0        0       0                0
165       0        0       0                0

[166 rows x 12 columns]

In [ ]:
# Use LabelEncoder to do the numeric transformation
le = LabelEncoder()
# Iterate over all the values of each column and extract their dtypes
for col in df:
    # Compare if the dtype is object
    if df[col].dtype == 'object':
        # Use LabelEncoder to do the numeric transformation
         df[col] = le.fit_transform(df[col])

In [ ]:
df

,age,gender,Date,Month,Year,Type,Location,Type of bear,Hunter,Grizzly,Hikers,Only one killed
0,17,0,19,6,2017,1,31,0,0,0,0,1
1,8,1,18,6,2017,1,0,0,0,0,0,1
2,17,1,10,5,2015,1,3,0,0,0,0,1
3,12,1,21,9,2014,1,14,0,0,0,1,1
4,26,0,7,5,2014,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
161,3,1,5,10,1908,0,2,0,0,0,0,1
162,9,1,24,11,1906,1,20,0,0,0,0,1
163,20,0,19,5,1901,1,28,0,0,0,0,0
164,39,1,19,5,1901,1,28,0,0,0,0,0
165,58,1,19,5,1901,1,28,0,0,0,0,0

In [ ]:
df['gender'] = df['gender'].replace({'male': 0, 'female': 1})

# นับจำนวนค่าที่ไม่ซ้ำกัน
gender_count = df['gender'].value_counts()

# แสดงผลลัพธ์
print(gender_count)

1    123
0     43
Name: gender, dtype: int64

In [ ]:
df.to_csv('encoded_data.csv', index=False)

In [ ]:
df.head()

,age,gender,Date,Month,Year,Type,Location,Type of bear,Hunter,Grizzly,Hikers,Only one killed
0,17,0,19,6,2017,1,31,0,0,0,0,1
1,8,1,18,6,2017,1,0,0,0,0,0,1
2,17,1,10,5,2015,1,3,0,0,0,0,1
3,12,1,21,9,2014,1,14,0,0,0,1,1
4,26,0,7,5,2014,1,1,0,0,0,0,1

In [ ]:
df.columns

Index([' age', 'gender', 'Date', 'Month', 'Year', 'Type', 'Location',
       'Type of bear', 'Hunter', 'Grizzly', 'Hikers', 'Only one killed'],
      dtype='object')

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from tensorflow import keras
from tensorflow.keras import layers

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

# แบ่งข้อมูลเป็น features (X) และ labels (y)
X = df.drop(columns=['gender'])
y = df['gender']

# แบ่งข้อมูลเป็น training set และ testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ปรับปรุง scaler เพื่อทำ normalization ข้อมูล
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# สร้าง SVM model
svm_model = SVC()

# ฝึกโมเดล
svm_model.fit(X_train_scaled, y_train)

# ทำนายข้อมูลทดสอบ
svm_y_pred = svm_model.predict(X_test_scaled)

# วัดประสิทธิภาพ
svm_accuracy = accuracy_score(y_test, svm_y_pred)
print("SVM Accuracy Score:", svm_accuracy)

# ใช้ cross-validation score เพื่อประเมินประสิทธิภาพ
svm_cv_scores = cross_val_score(svm_model, X_test_scaled, y_test, cv=5, scoring='accuracy')
print("SVM Cross-Validation Scores:", svm_cv_scores)
print("Mean Accuracy:", svm_cv_scores.mean())

SVM Accuracy Score: 0.7647058823529411
SVM Cross-Validation Scores: [0.85714286 0.85714286 0.71428571 0.71428571 0.83333333]
Mean Accuracy: 0.7952380952380953

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

# แบ่งข้อมูลเป็น features (X) และ labels (y)
X = df.drop(columns=['gender'])
y = df['gender']

# แบ่งข้อมูลเป็น training set และ testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ปรับปรุง scaler เพื่อทำ normalization ข้อมูล
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# สร้าง KNN model
knn_model = KNeighborsClassifier(n_neighbors=5)  # ตั้งค่า hyperparameter ตามที่ต้องการ

# ฝึกโมเดล
knn_model.fit(X_train_scaled, y_train)

# ทำนายข้อมูลทดสอบ
knn_y_pred = knn_model.predict(X_test_scaled)

# วัดประสิทธิภาพ
knn_accuracy = accuracy_score(y_test, knn_y_pred)
print("KNN Accuracy Score:", knn_accuracy)

# ใช้ cross-validation score เพื่อประเมินประสิทธิภาพ
knn_cv_scores = cross_val_score(knn_model, X_test_scaled, y_test, cv=5, scoring='accuracy')
print("KNN Cross-Validation Scores:", knn_cv_scores)
print("Mean Accuracy:", knn_cv_scores.mean())

KNN Accuracy Score: 0.7941176470588235
KNN Cross-Validation Scores: [0.85714286 0.85714286 0.71428571 0.71428571 0.66666667]
Mean Accuracy: 0.7619047619047619

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

# Assume df is your DataFrame containing features and labels

# Split the data into features (X) and labels (y)
X = df.drop(columns=['gender'])
y = df['gender']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# SVM Model
svm_model = SVC()
svm_model.fit(X_train_scaled, y_train)
svm_y_pred = svm_model.predict(X_test_scaled)

# KNN Model
knn_model = KNeighborsClassifier(n_neighbors=5)  # You can adjust hyperparameters as needed
knn_model.fit(X_train_scaled, y_train)
knn_y_pred = knn_model.predict(X_test_scaled)

# Evaluation Metrics
def evaluate_model(y_true, y_pred, model_name):
    acc = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred)

    print(f"{model_name} Metrics:")
    print(f"Accuracy: {acc:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")

# Confusion Matrix
def display_confusion_matrix(y_true, y_pred, model_name):
    cm = confusion_matrix(y_true, y_pred)
    print(f"\nConfusion Matrix for {model_name}:\n")
    print(cm)

# Evaluate SVM Model
evaluate_model(y_test, svm_y_pred, "SVM")
display_confusion_matrix(y_test, svm_y_pred, "SVM")

# Evaluate KNN Model
evaluate_model(y_test, knn_y_pred, "KNN")
display_confusion_matrix(y_test, knn_y_pred, "KNN")

SVM Metrics:
Accuracy: 0.7647
Precision: 0.7879
Recall: 0.9630
F1 Score: 0.8667

Confusion Matrix for SVM:

[[ 0  7]
 [ 1 26]]
KNN Metrics:
Accuracy: 0.7941
Precision: 0.8571
Recall: 0.8889
F1 Score: 0.8727

Confusion Matrix for KNN:

[[ 3  4]
 [ 3 24]]

วิเคราะห์
ทั้ง SVM และ KNN มีค่า Accuracy ที่สูง, แสดงถึงความถูกต้องทั่วไปในการทำนาย.
SVM มีค่า Recall ที่สูงกว่า KNN, แสดงถึงความสามารถในการตรวจจับตัวอย่างบวก (ความทุ่มเทส) ที่ดี.
สำหรับ KNN, Precision มีค่าสูงกว่า SVM, แสดงถึงความแม่นยำของการทำนายผลบวก. แต่ Recall สูงใน SVM แสดงว่า SVM มีความสามารถในการตรวจจับตัวอย่างบวกที่ดี.
ค่า F1 Score สูงทั้งสองโมเดล, แสดงว่ามีความสมดุลระหว่าง Precision และ Recall.

In [ ]:
import pickle
from sklearn.neighbors import KNeighborsClassifier

# Assume knn_model is your trained KNN model
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train_scaled, y_train)

# Save the model to a file using pickle
with open('knn_model.pkl', 'wb') as file:
    pickle.dump(knn_model, file)

In [ ]:
# Load the model from the file using pickle
with open('knn_model.pkl', 'rb') as file:
    loaded_knn_model = pickle.load(file)

In [ ]:
# Assume loaded_knn_model is the loaded KNN model
# Assume X_new_scaled is the new data you want to predict
# In this case, X_new_scaled is the first row of the DataFrame excluding the 'gender' column

# Extract the first row excluding the 'gender' column
X_new_scaled = df.iloc[0, 1:].values.reshape(1, -1)

# Make predictions using the loaded KNN model
prediction = loaded_knn_model.predict(X_new_scaled)

# Display the prediction
# Convert the numeric prediction to the corresponding gender label
gender_label = "male" if prediction == 1 else "female"

# Display the converted prediction
print("Converted Prediction for Gender:")
print(gender_label)

Converted Prediction for Gender:
male

In [ ]:
df.columns

Index([' age', 'gender', 'Date', 'Month', 'Year', 'Type', 'Location',
       'Type of bear', 'Hunter', 'Grizzly', 'Hikers', 'Only one killed'],
      dtype='object')